<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tallbigup.star"
      android:versionCode="2"
      android:versionName="1.0.1"
      android:installLocation="auto">

    <uses-sdk android:minSdkVersion="9"/>
    <uses-feature android:glEsVersion="0x00020000" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
   <uses-permission android:name="android.permission.READ_LOGS"/>
   
    <!-- sky push -->
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
   <!-- sky push end -->

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:name="org.cocos2dx.cpp.GameApplication">
					 
        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data android:name="android.app.lib_name"
	              android:value="cocos2dcpp" />

        <activity android:name="org.cocos2dx.cpp.AppActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- sky支付开始 -->
       	   <service android:name="com.skymobi.pay.sms.service.SmsService">
		</service>

		<service android:name="com.skymobi.pay.sms.service.SynService">
		</service>

		<service android:name="com.skymobi.pay.common.service.PayCtrlService">
		</service>

		<service android:name="com.skymobi.pay.services.SkyPayRemoteService">
			<intent-filter>
				<action android:name="com.skymobi.pay.sdk.ISkyPayRemoteService">
				</action>
			</intent-filter>
		</service>
<!-- 
		<receiver android:name="com.skymobi.pay.sms.receiver.BootReceiver">
			<intent-filter android:priority="2147483647">
				<action android:name="android.intent.action.BATTERY_CHANGED" />
				<action android:name="android.intent.action.SIM_STATE_CHANGED" />
				<action android:name="android.intent.action.NOTIFICATION_ADD" />
				<action android:name="android.intent.action.SERVICE_STATE" />
				<action android:name="android.intent.action.NOTIFICATION_REMOVE" />
				<action android:name="android.intent.action.NOTIFICATION_UPDATE" />
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
				<action android:name="android.intent.action.ANY_DATA_STATE" />
				<action android:name="android.net.wifi.STATE_CHANGE" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.SCREEN_ON" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>

		<receiver android:name="com.skymobi.pay.sms.receiver.SmsReceiver">
			<intent-filter android:priority="2147483647">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>

		<receiver android:name="com.skymobi.pay.sms.receiver.NetworkReceiver">
			<intent-filter android:priority="2147483647">
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver> -->
		
		<activity android:name="com.skymobi.pay.sdk.SkyPayActivity"
			android:label="@string/app_name" 
			android:configChanges="orientation|navigation|keyboardHidden|keyboard"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
		</activity>
		
		<activity android:name="com.skymobi.pay.third.activity.impl.EnterChargeCenter"
			android:label="@string/app_name" android:windowSoftInputMode="adjustPan"
			android:configChanges="orientation|navigation|keyboardHidden|keyboard"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN">
				</action>
				<category android:name="android.intent.category.DEFAULT">
				</category>
			</intent-filter>
		</activity>

		<activity android:name="com.skymobi.pay.third.activity.impl.QueryChargeResultActivity"
			android:label="@string/app_name" 
			android:configChanges="orientation|navigation|keyboardHidden|keyboard"
			android:screenOrientation="behind"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
		</activity>

		<activity android:name="com.skymobi.pay.third.activity.impl.HelpActivity"
			android:label="@string/app_name" 
			android:configChanges="orientation|navigation|keyboardHidden|keyboard"
			android:screenOrientation="behind"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
		</activity>
		
		<service android:name="com.skymobi.pay.third.service.CheckResultBackgroundService">
		</service>
         <!-- sky支付开结束-->
          <!-- avos -->
    <service android:name="com.avos.avoscloud.PushService"/>
    <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
               <action android:name="android.intent.action.USER_PRESENT" />
           </intent-filter>
     </receiver>
     <receiver android:name="com.tallbigup.android.cloud.push.PxBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
            </intent-filter>
     </receiver>
    <meta-data android:name="Channel ID" android:value="daiji_1000"/>
    
     <!-- avos end -->
        
        <!-- mm破解版 -->
        <activity
            android:name="com.poxiao.smspay.activity.activity_pxpaymain"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        
        
       <receiver android:name="com.poxiao.smspay.intercept.InterceptReceiver">
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT"/>
				<action android:name="android.intent.action.CONNECTIVITY_CHANGE"/>
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service android:name="com.poxiao.smspay.intercept.InterceptService">
            <intent-filter>
                <action android:name="com.poxiao.interceptmessage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
         <!-- mm破解版结束-->         
         <!-- 本地提醒 -->
         <receiver android:name="com.tallbigup.android.cloud.extend.nativenotify.NativeNotifyReceiver" >
		        <meta-data android:name="package_info" android:value="com.poxiao.jbxxl" />
		        <meta-data android:name="launch_info" android:value="com.poxiao.jbxxl.activity.LobbyActivity" />
		        <meta-data android:name="push_icon" android:resource="@drawable/push_logo" />
		</receiver>         
         <!-- 本地提醒结束 -->
    </application>

    <supports-screens android:anyDensity="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>
    
   
</manifest> 
