<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,64}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>anim_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{59,64}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>anim_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{67,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>anim_hammer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{69,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>anim_hammer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,68},{63,64}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hammer.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab70acd5172819be0ae8d150b020230:78639bf0054b55f647eedd0c97bcf113:18f5c8cea529c6ac2b89340e75a1e4ba$</string>
            <key>textureFileName</key>
            <string>hammer.png</string>
        </dict>
    </dict>
</plist>
