<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
  <key>title</key>
  <string>消灭星星</string>

	<key>guanqia</key>
	<string>关卡</string>
    
  <key>mubiao</key>
  <string>目标</string>
  
  <key>fen</key>
  <string>分</string>
  
  <key>highestScore</key>
  <string>最高分</string>
  
  <key>lianji</key>
  <string>连击增加</string>
  
  <key>ge</key>
  <string>个</string>
  
  <key>jiangli</key>
  <string>奖励</string>

   <key>shengyu</key>
  <string>剩</string>

   <key>miao</key>
  <string>秒</string>

  <key>di</key>
  <string>第</string>

  <key>mu</key>
  <string>幕</string>

  <key>gameover</key>
  <string>游戏结束</string>

<key>zhadan</key>
<string>炸弹:消除3X3的方块</string>

<key>shijian</key>
<string>时间增加10秒</string>

<key>signin</key>
<string>签到奖励</string>

<key>day</key>
<string>日</string>

<key>upgrade</key>
<string>升级</string>

<key>upgradeprize</key>
<string>升级奖励</string>

<key>addscoreper</key>
<string>额外分数</string>

</dict>

</array>
</plist>